:root {
    --dark: #0C243C;
    --light: #C9D1D5;
    --fountain: #55C2C3;
    --grey: #7E8C9C;
}


.services{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.s-heading{
    text-align:center;
}
.s-heading h1{
    color:var(--grey);
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0px;
}
.s-heading p{
    color: var(--dark);
    font-size: 1rem;
    margin: 5px;
    text-align: center;
}
.s-box-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width:300px;
    padding: 20px 25px;
    height: 400px;
    box-sizing: border-box;
    margin: 30px;
    position: relative;
}
.s-box img{
    height: 75px;
}
.s-box h1{
    color:var(--grey);
    letter-spacing: 1px;
    font-size: 1.5rem;
    margin-bottom: 8px;
    text-align: center;

}
.s-box p{
    color: var(--grey);
    text-align: center;
}
.s-btn{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border:1px solid var(--fountain);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    margin-top:10px;
}
.bar{
    width: 100px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    background-color:var(--fountain);
    border-radius: 0px 0px 10px 10px;
    display: none;
    animation: bar 0.5s;
}
.s-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.08);
    transition: all ease 0.3s;
}
.s-btn:hover{
    background-color:var(--fountain);
    border: 1px solid var(--fountain);
    color:#FFFFFF;
    transition: all ease 0.3s;
}
.s-box:hover .bar{
    display: block;
}
@keyframes bar{
    0%{
        width:0px;
    }
    100%{
        width:100px;
    }
}
@media(max-width:1050px){
    .s-box-container{
        flex-wrap: wrap;

    }
    .services{
        height: auto;
    }
    .s-heading{
        margin: 15px;
    }
    .s-box{
        flex-grow: 1;
    }

}
